.left-content__body__group
  .left-content__body__group__name
    グループ名1
  .left-content__body__group__message
    メッセージ1
.left-content__body__group
  .left-content__body__group__name
    グループ名2
  .left-content__body__group__message
    メッセージ2
.left-content__body__group
  .left-content__body__group__name
    グループ名3
  .left-content__body__group__message
    メッセージ3
