= link_to "group_messages_path(@group, @messages)" do
  .left-content__body__group
    .left-content__body__group__name
      グループ名1
    .left-content__body__group__message
      メッセージ1
= link_to "group_messages_path(@group, @messages)" do
  .left-content__body__group
    .left-content__body__group__name
      グループ名2
    .left-content__body__group__message
      メッセージ2
= link_to "group_messages_path(@group, @messages)" do
  .left-content__body__group
    .left-content__body__group__name
      グループ名3
    .left-content__body__group__message
      メッセージ3
