- current_user.groups.each do |group|
  = link_to "group_messages_path(group)" do
    .left-content__body__group
      .left-content__body__group__name
        = group.name
      .left-content__body__group__message
        メッセージ1
