.main-content__message
  .main-content__message__user-name
    ユーザー名1
  .main-content__message__time
    投稿時間1
  .main-content__message__body
    メッセージ1
.main-content__message
  .main-content__message__user-name
    ユーザー名2
  .main-content__message__time
    投稿時間2
  .main-content__message__body
    メッセージ2
.main-content__message
  .main-content__message__user-name
    ユーザー名3
  .main-content__message__time
    投稿時間3
  .main-content__message__body
    メッセージ3
.main-content__message
  .main-content__message__user-name
    ユーザー名4
  .main-content__message__time
    投稿時間4
  .main-content__message__body
    メッセージ4
