.main-content__message
  .main-content__message__user-name
    = message.user.name
  .main-content__message__time
    = message.created_at
  .main-content__message__body
    = message.content if message.content.present?
    = image_tag message.image.url if message.image.present?
