.left-contents
  .left-content__user
    .left-content__user-content
      .left-content__user-content--user-name
        ユーザー名
      %a{class: "left-content__user--new-group", href: "/groups/new"}
        %i{class: "fa fa-pencil-square-o"}btn
      %a{class: "left-content__user--edit-user", href: "/users/edit"}
        %i{class: "fa fa-cog"}btn
  .left-content__groups
    .left-content__groups-list
      %a{href: "/groups/グループID/messages"}
      .left-content__group
        .left-content__group-name
          グループ名
        .left-content__group-message
          メッセージ
.main-contents
  .main-content__header
    .main-content__header--group
      .main-content__header--group-name
        グループ名
      %a{class: "main-content__header--group-edit-btn", href: "/groups/グループID/edit"}edit
      .main-content__header--group-member-list
        MEMBER:
        %i グループメンバー
  .main-content__body
    .main-content__body--messages-list
      .main-content__message
        .main-content__message--user-name
          ユーザー名
        .main-content__messege--time
          投稿時間
        .main-content__message--body
          メッセージ
  .main-content__footer
    %form{class: "main-content__footer-form", id: "new_message", action: "/groups/グループID/messages", method: "post", enctype: "multipart/form-data"}
    .main-content__footer-body
      %input{class: "message", id: "message_body", placeholder: "type a message", type: "text", name: ""}
    %input{type: "submit", class: "submit", value: "Send", name: ""}
