.alert
  .alert__word
    チャットグループが作成されました。
.contents
  .left-contents
    .left-content__header
      .left-content__header__user-name
        ユーザー名
      %a{class: "left-content__header__new-group", href: "/groups/new"}
        %i.fa.fa-pencil-square-o
      %a{class: "left-content__header__edit-user", href: "/users/edit"}
        %i.fa.fa-cog
    .left-content__body
      .groups-list
        %a{href: "/groups/グループID/messages"}
        =render partial: "left_content_groups"
  .main-contents
    .main-content__header
      .main-content__header__group
        .main-content__header__group__name
          グループ名
        %a{class: "main-content__header__group__edit-btn", href: "/groups/グループID/edit"}Edit
        .main-content__header__group__member-list
          Member:
          %i グループメンバー
    .main-content__body
      .main-content__body__messages-list
        =render partial: "main_content_messages"
    .main-content__footer
      .main-content__footer-body
        %input{class: "main-content__footer-body__message", id: "message_body", placeholder: "type a message", type: "text", name: ""}
        %label{class: "main-content__footer-body__image-file", for: "message_image"}
          %input{class: "main-content__footer-body__image-file__image", type: "file", name: "message[image]", id: "message_image"}
          %i.fa.fa-image
      %input{type: "submit", class: "main-content__footer-body__submit", value: "Send", name: ""}
